h1{
	background: #2980B9;
	color: white;
	margin: 0;
	font-size: 24px;
	padding: 10px 20px;
	text-transform: uppercase;
	font-weight: normal;
	line-height: 40px;
}

ul{
     list-style-type:none;
     margin: 0px;
     padding: 0px;
}

body{
	font-family: 'Ubuntu', sans-serif;
}

li{
	background: #fff;
	height: 40px;
	/*padding: 10px 20px;*/
	line-height: 40px;
	color: #666;

}
/*pule de 2 em 2 linhas com a cor cinza*/
li:nth-child(2n){
	background: #f7f7f7;
}

input{
	font-size: 18px;
	color: #2980B9;
	background: #f7f7f7;
	width:100%;
	padding: 13px 13px 13px 20px;
	box-sizing: border-box; /*nao permite que a box ultrapasse o container principal*/
}

input:focus{
	background: #fff;
	border: 3px solid #2980b9;
	outline: none;
}

#container{
	width: 360px;
	margin: 100px auto;
	background: #f7f7f7;
	box-shadow: 0 0 10px rgba(0,0,0, 0.2);
}
/*liga e desliga no js*/
.completed{
	color: gray;
	text-decoration: line-through;
}