/*container principal*/
#container{
	width: 360px;
	margin: 0px auto;
	border: 2px solid gray;
}
/*liga e desliga no js*/
.completed{
	color: gray;
	text-decoration: line-through;
}

ul{
     list-style-type:none;
}